<div id="main">
  <h1>!!!<%= t(:not_supported, :scope => :browser) %>!!!</h1>
  <p><%= t(:crap_browser, :scope => :browser) %></p>
  <p><%= t(:more_browser, :scope => :browser) %> </p>
  <p><%= link_to t(:get, :scope => :general)+ " Firefox", 'http://www.firefox.com'%></p>
  <p><%= link_to t(:get, :scope => :general)+ " Chrome", 'http://www.google.com/chrome/'%></p>
  <p><%= link_to t(:get, :scope => :general)+ " Safari", 'http://www.apple.com/safari/download/'%></p>
</div>
<div id="aside">

</div>