<table  class="userlist">
  <thead>
    <tr>
      <td><%= t(:short_title, :scope => :general) %></td>
      <td><%= t(:title, :scope => :general) %></td>
      <td><%= t(:language, :scope => :general) %></td>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course| %>
      <tr>
        <td><%= link_to course.short_title, developer_course_path(course) %></td>
        <td><%= course.title %></td>
        <td><%= course.language %></td>
      </tr>
    <% end %>
  </tbody>
</table>