<div id="main">

  <%= form_for (@profile_session) do |form| %>  
    <% if @profile_session.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@profile_session.errors.count, "error") %> prohibited this session from being saved:</h2>

        <ul>
          <% @profile_session.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p class="input"> 
      <%= form.label :login, t(:login, :scope => :profile) %>  
      <%= form.text_field :login %>  
    </p>  
    <p class="input"> 
      <%= form.label :password, t(:password, :scope => :profile) %>  
      <%= form.password_field :password %>  
    </p>  
    <p class="submit">  
      <%= form.submit t(:submit, :scope => :general) %>  
    </p>  
  <% end %>  
	<%= link_to t(:forget_pw, :scope => :profile), new_password_reset_path %>
	<h2>Demo Access</h2>
	<p>
		for Student login <strong>demo-student@stitch-project.eu</strong> and password <strong>Demo</strong><br />
		for Tutor login <strong>demo-tutor@stitch-project.eu</strong> and password <strong>Demo</strong>
	</p>

</div>

<div id="aside">

</div>
