<p class="input">
  <% unless e.txt == "" %>
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  <% end %>  
  	<%=raw show_answer(e, current_user.role).txt %>
		<p>
			Assesment: <%= show_answer(e, current_user.role).score %>/<%= show_score(e, @tutor) %>
			<br />
			Comment of tutor: <%= show_answer(e, current_user.role).comment %>
		</p>
</p>


