<p class="input">
  <% unless e.txt == "" %>
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  <% end %> 
 	<% if @student.give_answer?(e) %>
  	<%=raw show_answer(e, current_user.role).txt %>
		<p>
			<%= t(:assessment, :scope => :student) %>: <%= show_answer(e, current_user.role).score %>/<%= show_score(e, @tutor) %>
			<br />
			<%= t(:comment, :scope => :student) %>: <%= show_answer(e, current_user.role).comment %>
		</p>
	<% else %>
		<p><%= t(:score, :scope => :tutor) %>: <%= show_score(e, @tutor) %></p>
	<% end %>
</p>


