<div id="main">
	<h1><%= t(:edit, :scope => :chat) %></h1>
  <%= form_for(@channel, :url => tutor_group_channel_path(@channel), :html => { :method => "put" }) do |c| %> 
    <%= errors_for(@channel) %>

  	<p class="input">
			<%= label :name, t(:name, :scope => :profile) %>  
      <%= c.text_field :name %>  
      <%= c.hidden_field :group_id %>
    </p>  

  	<p class="input">
      <%= label :closed, t(:closed, :scope => :chat)+"?" %>
      <span class="checkbox"> <%= c.check_box :closed, class:"checkbox"%> <%= t(:discussion_is_closed, :scope => :chat) %> </span>
		</p>  

		<p class="submit"> 
		  <%= submit_tag t(:update, :scope => :general) %>  
		</p>  
	<% end %> 
	<%= link_to t(:back, :scope => :general), discussion_tutor_group_path(@channel.group)%>

</div>
<div id="aside">

</div>

