<div id="main">
	<h1><%= t(:create, :scope => :general) %> <%= t(:discussion, :scope => :chat) %></h1>
  <%= form_for(@channel, :url => tutor_group_channels_path, :method => :post) do |c| %> 
    <%= errors_for(@channel) %>

  	<p class="input">
			<%= label :name, t(:name, :scope => :profile) %>  
      <%= c.text_field :name %>  
      <%= c.hidden_field :group_id %>
		</p>  
		<p class="submit"> 
		  <%= submit_tag t(:create, :scope => :general) %>  
		</p>  
	<% end %> 
	<%= link_to t(:back, :scope => :general), discussion_tutor_group_path(@channel.group)%>

</div>
<div id="aside">

</div>
