<% unless e.txt == "" %>
  <p class="input">
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  </p>
<% end %>
<% if @student %>
	<p class="input">
		<%=raw show_answer(e, @student).txt.gsub("\n","<br />")  %>
	</p>
<% else %>
	<% e.answer_list.each do |answer|  %>
	  <% if e.multi %>
	    <p class="radio">
	      <%= check_box_tag :dummy, answer %> <%= answer %>
	    </p>
	  <% else %>
	    <p class="radio">
	      <%= radio_button_tag :dummy, answer %> <%= answer %>
	    </p>
	  <% end %>
	<% end %>	
<% end %>
<p>
	<label>Achievement: <%=text_field_tag "achievement-element", show_answer(e, @student).score, {:readonly => true, :class => "achievement" } unless e.answers.empty? %></label>
</p>
<p>
	<label>Score: <%=text_field_tag "score-element", show_score(e, current_user.role), {:readonly => true, :class => "score" } %></label>
</p>
