<div id="main">
  <%= render 'layouts/breadcrumb' %>

  <h1 id="page_title"><%= render 'page_title' %></h1>
	<% if @page.assignment %>
  	<h2>Deadline: <%= show_deadline_page(@page, current_user.role) %></h2>
	<% end %>
	
  <br/>
  <div class="showView" id="contentElements">
    <%= render :partial => 'student/contents/content', :collection => @page.contents %>
    <%= hidden_field_tag "page", student_page_contents_path(@page)%>
  </div>
	<%= render 'page_bottom' %> 
</div>
<div id="aside">

</div>
<script type="text/javascript">

</script>



