<div id="main">
	<h1><%= t(:forgot_pw, :scope => :session) %></h1>

	<%= t(:pw_instruction, :scope => :session) %>:<br />
	<br />

	<%= form_tag(password_resets_path) do %>
	  <label><%= t(:email, :scope => :profile) %>:</label><br />
	  <%= text_field_tag "email" %><br />
	  <br />
	  <%= submit_tag t(:reset_pw, :scope => :session) %>
	<% end %>
</div>
