<p class="input">
  <% unless e.txt == "" %>
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  <% end %>
	<% if @student %>
		<br />
		<%= show_answer(e, @student).txt  %>
		<br />
		Achievement: <%= show_answer(e, @student).score  %>
	<% else %>
  	<%= text_field_tag :dummy  %>		
	<% end %>
</p>
<p class="score">
	<label>Score: <%= show_score(e, current_user.role) %></label>
</p>