<table  class="userlist">
  <thead>
    <tr>
      <td><%= t(:course, :scope => :course) %></td>
      <td><%= t(:short_title, :scope => :general) %></td>
      <td><%= t(:title, :scope => :general) %></td>
      <td><%= t(:complete, :scope => :stitch_module) %></td>
    </tr>
  </thead>
  <tbody>
    <% modules.each do |sm| %>
      <tr>
        <td><%= link_to sm.course.short_title, developer_course_path(sm.course) %></td>
        <td><%= link_to sm.short_title, developer_stitch_module_path(sm) %></td>
        <td><%= sm.title %></td>
        <td><%= sm.complete ? t(:yes, :scope => :general) : t(:no, :scope => :general) %></td>
      </tr>
    <% end %>
  </tbody>
</table>