
<div id="main">
  <%= render 'layouts/breadcrumb' %>
  <h1 id="page_title"><%= @stitch_module.title %></h1>
  <p>
    <%= simple_format @stitch_module.description %>
  </p>
  <div id="modules">
    <% @stitch_module.stitch_units.each do |sunit| %>
      <%= render sunit %>
    <% end %>
    <%= hidden_field_tag "url", developer_stitch_module_stitch_units_path(@stitch_module) %>
    <%= hidden_field_tag "page_move_url", developer_stitch_module_page_move_path(@stitch_module) %>
    <%= hidden_field_tag "page_copy_url", developer_stitch_module_page_copy_path(@stitch_module) %>
    <%= hidden_field_tag "unit_order_url", developer_stitch_module_stitch_units_order_path(@stitch_module) %>
    <% if @open_unit %>
      <%= hidden_field_tag "open_unit", @open_unit.id %>
    <% end %>
  </div>
</div>
<% if current_user.role.editable(@stitch_module) %>
  <div id="aside" class="moving">
    <h3><%= t(:edit, :scope => :general) %> <%= t(:menu, :scope => :general) %></h3>
    <ul class="editmenu">

      <li class="newunit newElement"><img class="newunit" src="/images/space.gif" alt="new Unit" />
        <%= t(:new, :scope => :general) %> <%= t(:unit, :scope => :stitch_unit) %>
        <%=  hidden_field_tag "url", developer_stitch_module_stitch_units_path(@stitch_module)%>
      </li>


      <li id="create_page"class="newPage"><img class="newpage" src="/images/space.gif" alt="new Page" />
        <%= t(:new, :scope => :general) %> <%= t(:page, :scope => :page) %>
      </li>
      <hr/>
      <h3><%= t(:help, :scope => :general) %></h3>
      <p>- <%= t(:select_unit, :scope => :stitch_unit) %>.<p/>
      <p>- <%= t(:open_unit, :scope => :stitch_unit) %>.<p/>
      <p>- <%= t(:drag_unit, :scope => :stitch_unit) %>.</p>
      <p>- <%= t(:drag_page, :scope => :stitch_unit) %>.</p>
    </ul>		
  </div>
<% else %>
  <div id="aside">
    <h3><%= t(:preview_mode, :scope => :page) %></h3>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
<% if current_user.role.editable(@stitch_module) %>
      Stitched.loadModuleEditView();
<% else %>
      Stitched.loadModulePreView();
<% end %>
  });
</script>