<p class="input">
  <% unless e.txt == "" %>
    <label for="Input"><%=raw e.txt.gsub("\n","<br />") %></label>
  <% end %>
	<% if @student.give_answer?(@student, e) %>
		<br />
	  <%= show_answer(e, @student).txt %>
		<br />
		<%= t(:assessment, :scope => :student) %>: <%= show_answer(e, @student).score %>/<%= show_score(e, @tutor) %>
	<% else %>
		<p><%= t(:score, :scope => :tutor) %>: <%= show_score(e, @tutor) %></p>
	<% end %>
</p>