<div id="main">
	<h1><%= t(:set, :scope => :default_assessment) %> <%= @course.short_title %></h1>
	<p>
		<%= t(:set_text_1, :scope => :default_assessment) %><br />
		<%= t(:set_text_2, :scope => :default_assessment) %>:<br />
		- <%= t(:set_text_3, :scope => :default_assessment) %><br />
		- <%= t(:set_text_4, :scope => :default_assessment) %>.<br /><br />

		<%= t(:set_text_5, :scope => :default_assessment) %>:<br />
	</p>
	<table>
		<thead>
			<tr>
				<td><%= t(:name, :scope => :profile) %></td>
				<td><%= t(:lower_value, :scope => :default_assessment) %></td>
				<td><%= t(:upper_value, :scope => :default_assessment) %></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= t(:insufficient, :scope => :default_assessment) %> (5)</td>
				<td>0</td>
				<td>49</td>
			</tr>
			<tr>
				<td><%= t(:sufficient, :scope => :default_assessment) %> (4)</td>
				<td>50</td>
				<td>65</td>
			</tr>
			<tr>
				<td><%= t(:satisfactory, :scope => :default_assessment) %> (3)</td>
				<td>66</td>
				<td>81</td>
			</tr>
			<tr>
				<td><%= t(:good, :scope => :default_assessment) %> (2)</td>
				<td>82</td>
				<td>97</td>
			</tr>
			<tr>
				<td><%= t(:excellent, :scope => :default_assessment) %> (1)</td>
				<td>98</td>
				<td>100</td>
			</tr>
		</tbody>
	</table>
	<%= form_tag :action => 'create' do %>
		<% @default_assesments.each_with_index do |default_assesment, index| %>
	  	<%= fields_for "default_assesments[#{index}]", default_assesment do |f| %>
				<p class='input'>
	    		<%= f.label :mark, "#{index+1}"  %>
					<%= f.hidden_field :mark, :value => "#{index+1}"  %>
		     	<label><%= t(:name, :scope => :profile) %></label> <%= f.text_field :name  %>
				  <label><%= t(:lower_treshold, :scope => :default_assessment) %></label> <%= f.text_field :lower_treshold %>
					<label><%= t(:upper_treshold, :scope => :default_assessment) %></label> <%= f.text_field :upper_treshold %>
				</p>
	   	<% end %>
	 	<% end %>
	  <%= submit_tag t(:submit, :scope => :general) %>
	<% end %>
	<%= link_to t(:back, :scope => :general), :back %>

</div>
<div id="aside">

</div>
