<div id="main">
	<h1>
		Coursebook for <%= @course.short_title %>
	</h1>
	<% if @course_grade %><h2>Grade <%= @course_grade.value unless @course_grade.value.nil? %> <%= show_national_assesment(@course_grade.value) unless @course_grade.value.nil? %></h2><% end %>
	<h3>Deadline <%= show_deadline_course(@course, @student) %></h3>
	<table  class="userlist">
		<thead>
	    <tr>
	      <td>Title</td>
	      <td>Current Grade</td>
	      <td>Weight</td>
	    </tr>
			<% @stitch_modules.each do |stitch_module| %>
				<% if stitch_module.has_assignment_page? %>
					<tr>
						<td><strong><%= stitch_module.short_title %> current Grade: <%= show_grade(stitch_module, @student, @tutor) %></strong></td>
						<td><%= show_national_assesment(show_grade(stitch_module, @student, @tutor)) %></td>
						<td>&nbsp;</td>						
					</tr>			  
				</thead>
			  <tbody>
			    <% stitch_module.stitch_units.each do |stitch_unit| %>
						<% if stitch_unit.has_assignment_page? %>
			      	<tr>
				        <td><%= link_to stitch_unit.title, find_assignment_page(stitch_unit, @group, @student)  %></td>
				        <td><%= show_grade(stitch_unit, @student, @tutor) %></td>
				        <td><%= stitch_unit.weight %>%</td>
				      </tr>
						<% end %>
			    <% end %>
			  </tbody>
			<% end %>					
	<% end %>		
	</table>
</div>
<div id="aside">

</div>