<div id="main">
  <%= render 'layouts/breadcrumb' %>

  <p id="notice"><%= notice %></p>
  <h1 id="page_title"><%= @course.title %></h1>
	<h2><%= t(:deadline, :scope => :course) %>: <%= show_deadline_course(@course, current_user.role) %>
  <p>
    <%=simple_format @course.description %>
  </p>

  <hr>

  <h2><%= t(:modules, :scope => :stitch_module) %>:</h2>
  <div id="module_list_table">
    <table  class="userlist" id="module_list">
      <thead>
        <tr  id="thead">
          <td><%= t(:title, :scope => :general) %></td>
        </tr>
      </thead>
      <tbody>
        <% @course.stitch_modules.each do |sm| %>
          <tr id="module_<%= sm.id  %>"> 
            <td><%= link_to sm.title, student_stitch_module_path(sm)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <h2><%= t(:discussions, :scope => :chat) %>:</h2>
  <div id="module_list_table">
    <table  class="userlist" id="module_list">
      <thead>
        <tr  id="thead">
          <td><%= t(:title, :scope => :general) %></td>
        </tr>
      </thead>
      <tbody>
        <% @meta_group.channels.each do |channel| %>
          <tr id="module_<%= channel.id  %>"> 
            <td><%= link_to channel.name, student_discussion_path(channel) %></td>
          </tr>
        <% end %>
				<% @working_group.channels.each do |channel| %>
          <tr id="module_<%= channel.id  %>"> 
            <td><%= link_to channel.name, student_discussion_path(channel) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="aside">

</div>
