<div id="main">
	<h1>
		<%= t(:coursebook, :scope => :student) %> <%= t(:for, :scope => :general) %> <%= @course.short_title %>
	</h1>
	<% if @course_grade %><h2><%= t(:grade, :scope => :student) %> <%= @course_grade.value unless @course_grade.value.nil? %> <%= show_national_assessment(@course_grade.value, @course) unless @course_grade.value.nil? %></h2><% end %>
	<h3><%= t(:deadline, :scope => :course) %> <%= show_deadline_course(@course, @student) %></h3>
	<table  class="userlist">
		<thead>
	    <tr>
	      <td><%= t(:title, :scope => :general) %></td>
				<td><%= t(:deadline, :scope => :course) %></td>
	      <td><%= t(:current, :scope => :general) %> <%= t(:grade, :scope => :student) %></td>
	      <td><%= t(:weight, :scope => :stitch_unit) %></td>
				<td><%= t(:answer_sent, :scope => :tutor) %></td>
	    </tr>
			<% @stitch_modules.each do |stitch_module| %>
					<tr>
						<td><strong><%= stitch_module.short_title %> <%= t(:current, :scope => :general) %> <%= t(:grade, :scope => :student) %>: <%= show_grade(stitch_module, @student, @tutor) %></strong></td>
						<td>&nbsp;</td>	
						<td><%= show_national_assessment(show_grade(stitch_module, @student, @tutor), @course, @student) %></td>											
						<td><%= stitch_module.ects %> (<%= t(:ects, :scope => :stitch_module) %>)</td>						
						<td>&nbsp;</td>						
					</tr>			  
				</thead>
			  <tbody>
			    <% stitch_module.stitch_units.each do |stitch_unit| %>
						<% if stitch_unit.has_assignment_page? %>
			      	<tr>
				        <td><%= link_to stitch_unit.title, find_assignment_page(stitch_unit, @group, @student)  %></td>
								<td><%= show_deadline_page(stitch_unit.assignment_page, @student, @group) %></td>
				        <td><%= show_grade(stitch_unit, @student, @tutor) %></td>
				        <td><%= stitch_unit.weight %>%</td>
				        <td><%= is_assignment_page_locked(stitch_unit.assignment_page, @student) ? t(:yes, :scope => :general) : t(:no, :scope => :general) %></td>
				      </tr>
						<% end %>
			    <% end %>
			  </tbody>			
	<% end %>		
	</table>
	<%= link_to t(:back, :scope => :general), student_courses_path %>
</div>
<div id="aside">

</div>