<div id="main">
  <h1><%= t(:listing, :scope => :general) %> <%= t(:developers, :scope => :developer) %></h1>

  <table  class="userlist">
    <thead>      
      <tr>
        <td><%= t(:name, :scope => :profile) %></td>
        <td><%= t(:lastname, :scope => :profile) %></td>
        <td><%= t(:email, :scope => :profile) %></td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
      <% @developers.each do |developer| %>
        <tr>
          <td><%= developer.profile.name %></td>
          <td><%= developer.profile.lastname %></td>
          <td><%= developer.profile.email %></td>
          <td>
            <%= link_to image_tag("space.gif", :title => t(:edit, :scope => :general)+" "+t(:developer, :scope => :developer), :class => "icon useredit"), edit_admin_developer_path(developer) %>
            <%= link_to image_tag("space.gif", :title => t(:delete, :scope => :general)+" "+t(:developer, :scope => :developer), :class => "icon delete"), admin_developer_path(developer), :confirm => t(:confirm, :scope => :general)+" "+t(:delete, :scope => :general)+" "+t(:this, :scope => :general)+" "+t(:developer, :scope => :developer)+"?", :method => :delete %>
          </td>

        </tr>
      <% end %>
      <tr>
        <td><%= link_to t(:create, :scope => :general)+ " " + t(:developer, :scope => :developer), new_admin_developer_path %></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="aside">

</div>
