<% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= f.fields_for :profile do |g| %>
  <p class="input">
    <%= label :login, "Login" %>  
    <%= g.text_field :login %>  
  </p>  
  <p class="input">
    <%= label :name, "Name" %>  
    <%= g.text_field :name %>  
  </p>  
  <p class="input">  
    <%= label :lastname, "Lastname" %>  
    <%= g.text_field :lastname %>  
  </p>  
  <p class="input">
    <%= label :email, "Email" %>  
    <%= g.text_field  :email %>  
  </p> 
<% end %>
<p class="submit"> 
  <%= submit_tag "Submit" %>  
</p>