<div id="main">
	<h1>Managing Students</h1>

	<table  class="userlist">
  	<thead>
  		<tr>
				<td>Avatar</td>
        <td>E-Mail</td>
				<td>Login</td>
				<td>Name</td>
				<td>Lastname</td>
        <td>Active?</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @groups.each do |group| %>
				<tr>
					<td><strong><%= group.title %></strong></td>
					<td><%= link_to 'Enroll Student', new_tutor_group_student_path(group) %></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<% group.students.each do |student| %>
			  	<tr>
						<td><%= image_tag avatar_url(student) %></td>
						<td><%= student.profile.email %></td>
						<td><%= student.profile.login %></td>
						<td><%= student.profile.name %></td>
						<td><%= student.profile.lastname %></td>
						<td><%= student.activated %></td>
				    <td>
	          	<%= link_to image_tag("space.gif", :title => "Coursebook", :class => "icon-coursebook"), tutor_group_student_path(group, student) %>
							<%= link_to image_tag("space.gif", :title => "shuffle Student in another Group", :class => "icon-shuffle"), shuffle_tutor_group_student_path(group, student) %>
							<%= link_to image_tag("space.gif", :title => "remove Student", :class => "icon delete"), tutor_student_path(student) if student.deletable? %>
						</td>
				  </tr>
				<% end %>
			<% end %>
			<tr>
				<td></td>
				<td><%= link_to "New Group for Course", new_tutor_group_path(:course => @course) %></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<%= link_to 'Back', overview_tutor_course_path(@course) %>
</div>
<div id="aside">

</div>
