<div id="main">
	<h1><%= t(:enroll, :scope => :tutor) %> <%= t(:student, :scope => :student) %></h1>
	<%= form_for(@student, :url => tutor_group_students_path) do |f| %> 
	  <% if @profile.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

	      <ul>
	        <% @profile.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>  
		<%= f.fields_for :profile do |g| %>
			<p class="input">
				<%= label :email, t(:email, :scope => :profile) %>  
			  <%= g.text_field :email %>  
			</p>  
			<p class="submit"> 
			  <%= submit_tag t(:enroll, :scope => :tutor) %>  
			</p>  
		<% end %>
	<% end %> 
	<%= link_to t(:back, :scope => :general), tutor_course_students_path(@group.course) %>

</div>
<div id="aside">

</div>