<div id="main">
	<h1>
		<%= t(:coursebook_for, :scope => :student) %> <%= @student.profile.fullname %>
	</h1>
	<h2><%= t(:course, :scope => :course) %> <%= @group.course.short_title %> <% if @course_grade %><%= @course_grade.value unless @course_grade.value.nil? %> <%= show_national_assessment(@course_grade.value, @group.course) unless @course_grade.value.nil? %><% end %>
	</h2>
	<h3><%= t(:deadline, :scope => :course) %> <%= show_deadline_course(@group.course, @student) %></h3>
	<table  class="userlist">
		<thead>
			<tr>
	      <td><%= t(:title, :scope => :general) %></td>
	      <td><%= t(:current_grade, :scope => :student) %></td>
	      <td><%= t(:weight, :scope => :stitch_unit) %></td>
	    </tr>
		<% @stitch_modules.each do |stitch_module| %>
			<% if stitch_module.has_assignment_page? %>				
					<tr>
						<td><strong><%= stitch_module.short_title %> current Grade: <%= show_grade(stitch_module, @student, current_user.role) unless stitch_module.grades.empty? %> </strong></td>
						<td><%= show_national_assessment(show_grade(stitch_module, @student, current_user.role), @group.course) unless stitch_module.grades.empty? %></td>
						<td>&nbsp;</td>
					</tr>
				    
				  </thead>
				  <tbody>
				    <% stitch_module.stitch_units.each do |stitch_unit| %>
							<% if stitch_unit.has_assignment_page? %>
				      	<tr>
					        <td><%= link_to stitch_unit.title, find_assignment_page(stitch_unit, @group, @student, @tutor)  %></td>
					        <td><%= show_grade(stitch_unit, @student, current_user.role) unless stitch_unit.grades.empty? %></td>
					        <td><%= stitch_unit.weight %>%</td>
					      </tr>
							<% end %>
				    <% end %>
				  </tbody>
			<% end %>					
		<% end %>	
		</table>
	<%= link_to t(:back, :scope => :general), :back %>
</div>
<div id="aside">

</div>

<script type="text/javascript">
	$(document).ready(function(){
		Stitched.loadGradeView();
  });
</script>