<div id="main">
	<h1>
		Coursebook for <%= @student.profile.login %>
	</h1>
	<h2>Course <%= @group.course.short_title %> <% if @course_grade %><%= @course_grade.value unless @course_grade.value.nil? %> <%= show_national_assesment(@course_grade.value) unless @course_grade.value.nil? %><% end %>
		<%= button_to "Calculate Course Grade", tutor_grade_path(@course_grade, :student => @student, :group => @group), :method => :put, :form_class => 'edit_grade_form', :id => "edit_grade" %>
	</h2>
	<h3>Deadline <%= show_deadline_course(@group.course, @student) %></h3>
		<% @stitch_modules.each do |stitch_module| %>
			<% if stitch_module.has_assignment_page? %>
				<h3><%= stitch_module.short_title %> current Grade: <%= show_grade(stitch_module, @student, current_user.role) unless stitch_module.grades.empty? %> <%= show_national_assesment(show_grade(stitch_module, @student, current_user.role)) unless stitch_module.grades.empty? %></h3>
				<table  class="userlist">
				  <thead>
				    <tr>
				      <td>Unit Title</td>
				      <td>Current Grade</td>
				      <td>Weight</td>
				    </tr>
				  </thead>
				  <tbody>
				    <% stitch_module.stitch_units.each do |stitch_unit| %>
							<% if stitch_unit.has_assignment_page? %>
				      	<tr>
					        <td><%= link_to stitch_unit.title, find_assignment_page(stitch_unit, @group, @student, @tutor)  %></td>
					        <td><%= show_grade(stitch_unit, @student, current_user.role) unless stitch_unit.grades.empty? %></td>
					        <td><%= stitch_unit.weight %>%</td>
					      </tr>
							<% end %>
				    <% end %>
				  </tbody>
				</table>	
			<% end %>					
		<% end %>
	
</div>
<div id="aside">

</div>

<script type="text/javascript">
	$(document).ready(function(){
		Stitched.loadGradeView();
  });
</script>