<div id="main">
	<%= form_for(@student, :url => update_shuffle_tutor_group_student_path(@group, @student)) do |f| %>
		<p class="select">
			Shuffle Student <%= @student.profile.fullname %> from Group: <%= @group.title %> in Group: 
			<%= select_tag "metagroup", options_from_collection_for_select(@tutor.metagroup(@group).reject {|g| g == @group}, "id", "title") %>
		</p>
		<p class="submit"> 
			<%= submit_tag "Shuffle" %>  
		</p>
	<% end %>
	<%= link_to 'Back', tutor_course_students_path(@group.course) %>
</div>
<div id="aside">

</div>