<h1><%= t(:editing, :scope => :general) %> <%= t(:response, :scope => :response) %></h1>

<%= render 'form' %>

<%= link_to t(:show, :scope => :general), @response %> |
<%= link_to t(:back, :scope => :general), responses_path %>
