<h1><%= t(:listing, :scope => :response) %></h1>

<table>
  <tr>
    <th><%= t(:attempt, :scope => :response) %></th>
    <th><%= t(:answer, :scope => :answer) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @responses.each do |response| %>
  <tr>
    <td><%= response.attempt %></td>
    <td><%= response.answer %></td>
    <td><%= link_to t(:show, :scope => :general), response %></td>
    <td><%= link_to t(:edit, :scope => :general), edit_response_path(response) %></td>
    <td><%= link_to t(:destroy, :scope => :general), response, :confirm => t(:confirm_short, :scope => :general), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new, :scope => :response), new_response_path %>
