<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:attempt, :scope => :response) %>:</b>
  <%= @response.attempt %>
</p>

<p>
  <b><%= t(:answer, :scope => :answer) %>:</b>
  <%= @response.answer %>
</p>


<%= link_to t(:edit, :scope => :general), edit_response_path(@response) %> |
<%= link_to t(:back, :scope => :general), responses_path %>
