<div class="module2">
	<table class="module_table">
	  <thead>
	    <tr class="unit_head">
	      <td class="unit" colspan="2">
	        <%= form_for(@unit, :url => developer_stitch_module_stitch_unit_path(@stitch_module, @unit)) do |f| %>
						<% if @unit.errors.any? %>
						  <div id="error_explanation">
						    <h2><%= pluralize(@unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

						    <ul>
						      <% @unit.errors.full_messages.each do |msg| %>
						        <li><%= msg %></li>
						      <% end %>
						    </ul>
						  </div>
						<% end %>
	          <%= f.text_field :title  %>
						<%= t(:weight, :scope => :stitch_unit) %>: <%= f.text_field :weight %>%
	        <% end %>
	      </td>
	      <td class="functions"><img src="/images/space.gif" /><img src="/images/space.gif" /></td>
	    </tr>
	  </thead>
	  <tbody>
	    <% @unit.pages.each do |page| %>
	      <%= render page %>
	    <% end %>
	  </tbody>
	</table>
</div>
<%=  hidden_field_tag "pages_url", developer_stitch_unit_pages_path(@unit)%>	
<script type="text/javascript">
  $(document).ready(function(){
      Stitched.loadValidation();
  });
</script>