<div id="main">
	<h1><%= t(:editing, :scope => :general) %> <%= t(:profile, :scope => :profile) %></h1>
	<%= form_for(@student, :url => student_student_path) do |f| %> 
	  <% if @profile.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

	      <ul>
	        <% @profile.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>  
		<%= f.fields_for :profile do |g| %>
		  <p class="input">
		    <%= label :login, t(:login, :scope => :profile) %>  
		    <%= g.text_field :login %>  
		  </p>  
		  <p class="input">
		    <%= label :name, t(:name, :scope => :profile) %>  
		    <%= g.text_field :name %>  
		  </p>  
		  <p class="input">  
		    <%= label :lastname, t(:lastname, :scope => :profile) %>  
		    <%= g.text_field :lastname %>  
		  </p>
			<p class="input">  
		    <%= label_tag t(:avatar, :scope => :profile) %>
				<%= image_tag avatar_url(@student) %>
		    <%= t(:create_avatar, :scope => :profile) %> <%= link_to "Gravatar", "http://en.gravatar.com", :target => '_blank' %> 
		  </p>
			<p class="submit"> 
			  <%= submit_tag t(:submit, :scope => :general) %>  
			</p>
		<% end %>
	<% end %> 
</div>
<div id="aside">

</div>
