<div id="main">
	<h1><%= t(:listings, :scope => :general) %> <%= t(:tutors, :scope => :tutor) %></h1>

	<table  class="userlist">
  	<thead>
  		<tr>
        <td><%= t(:name, :scope => :profile) %></td>
        <td><%= t(:lastname, :scope => :profile) %></td>
        <td><%= t(:email, :scope => :profile) %></td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @tutors.each do |tutor| %>
			  <tr>
          <td><%= tutor.profile.name %></td>
          <td><%= tutor.profile.lastname %></td>
          <td><%= tutor.profile.email %></td>
          <td>
            <%= link_to image_tag("space.gif", :title => t(:edit, :scope => :general)+ " "+ t(:tutor, :scope => :tutor), :class => "icon useredit"), edit_developer_tutor_path(tutor) %>
            <%= link_to image_tag("space.gif", :title => t(:delete, :scope => :general)+ " "+ t(:tutor, :scope => :tutor), :class => "icon delete"), developer_tutor_path(tutor), :confirm => t(:confirm, :scope => :general)+" "+t(:delete, :scope => :general)+" "+t(:this, :scope => :general)+" "+t(:tutor, :scope => :tutor)+"?", :method => :delete %>
          </td>
        </tr>
			<% end %>
				<tr>
        	<td><%= link_to 'Create New Tutor', new_developer_tutor_path %></td>
	        <td></td>
	        <td></td>
	        <td></td>
	      </tr>
    </tbody>
</table>
</div>
<div id="aside"></div>
