<div id="main">
  <h1><%= t(:new, :scope => :general) %> <%= t(:tutor, :scope => :tutor) %></h1>
  <%= form_for(@tutor, :url => developer_tutors_path) do |f| %>
    <%= render 'form', :f => f %>  
  <% end %>
  <%= link_to t(:back, :scope => :general), developer_tutors_path %>

</div>
<div id="aside">

</div>
