<%=  f.fields_for :element do |element_field| %>
  <p class="input">   
    <label for="Input"><%= t(:question_text, :scope => :question) %></label>
    <%= element_field.text_area :txt, :size => "20x3" %>
    <label for="Input"><%= t(:word_count, :scope => :question) %></label>
    <%= element_field.text_field :max_length %>
  </p>
<% end %>