<div id="roster">
  <p>Roster</p>

  <div class="container">
    <% roster_elements.each do |el| %>
      <div class="tab" id="tab<%=el[:channel_id]%>">
        <a href="/chat/channel_for/<%=el[:channel_id]%>" data-remote = "true" data-channel-id = "<%=el[:channel_id]%>" data-replace = "#chat_channels">
          <div class="element <%=el[:type]%>" id="<%=el[:channel_id]%>">
            <%=el[:name]%>
          </div>
        </a>
      </div>
    <%end%>
  </div>
</div>
