<div id="main">
	<h1>Students in Group: <%= @group.title %></h1>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td>Avatar</td>
        <td>E-Mail</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @students.each do |student| %>
			  <tr>
					<td><%= image_tag avatar_url(student) %></td>
					<td><%= student.profile.email %></td>
			    <td>
          	<%#= link_to image_tag("space.gif", :alt => "delete Student", :class => "icon delete"), student_path(student), :confirm => 'Are you sure, you want to delete this Student?', :method => :delete %>
					</td>
			  </tr>
			<% end %>
			<tr>
      	<td><%= link_to 'Enroll Student', new_tutor_group_student_path(@tutor, @group) %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
	<%= link_to 'Back', tutor_groups_path %>
</div>
<div id="aside">

</div>

