<div id="main">
	<h1>Students in Group: <%= @group.title %></h1>
	<h2>Deadline: <%= @group.deadline.due_date.strftime('%d.%m.%Y - %H:%M') unless @group.deadline.nil? %></h2>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td>Avatar</td>
        <td>E-Mail</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @students.each do |student| %>
			  <tr>
					<td><%= image_tag avatar_url(student) %></td>
					<td><%= student.profile.email %></td>
			    <td>
						<%= link_to image_tag("space.gif", :title => "rate Assignment", :class => "icon edit"), tutor_group_student_path(@group, student) %>
          	<%= link_to image_tag("space.gif", :title => "shuffle Student in another Group", :class => "icon duplicate"), shuffle_tutor_group_student_path(@group, student) %>
					</td>
			  </tr>
			<% end %>
			<tr>
      	<td><%= link_to 'Enroll Student', new_tutor_group_student_path(@group) %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
	<%= link_to 'Back', tutor_groups_path %>
</div>
<div id="aside">

</div>

