<div id="main">
	<h1>Course Group <%= @course_group.title %></h1>
	<h2>Deadline: <%= @course_group.deadline.due_date.strftime('%d.%m.%Y - %H:%M') unless @course_group.deadline.nil? %></h2>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td>Avatar</td>
        <td>Name</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @working_groups.each do |w_group| %>
				<tr>
					<td><strong><%= w_group.title %></strong></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<% w_group.students.each do |student| %>
			  	<tr>
						<td><%= image_tag avatar_url(student) %></td>
						<td><%= student.profile.fullname %></td>
				    <td>
	          	<%= link_to image_tag("space.gif", :title => "shuffle Student in another Group", :class => "icon-shuffle"), shuffle_tutor_group_student_path(w_group, student) %>
						</td>
				  </tr>
				<% end %>
			<% end %>
			<tr>
      	<td><%= link_to 'New Working Group', new_working_group_tutor_groups_path(:parent => @course_group) %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
	<%= link_to 'Back', tutor_course_students_path(@course_group.course) %>
</div>
<div id="aside">

</div>

