<div id="main">
	<h1><%= t(:course_group, :scope => :group) %> <%= @course_group.title %></h1>
	<h2><%= t(:deadline, :scope => :course) %>: <%= @course_group.deadline.due_date.strftime('%d.%m.%Y - %H:%M') unless @course_group.deadline.nil? %></h2>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td><%= t(:avatar, :scope => :profile) %></td>
        <td><%= t(:name, :scope => :profile) %></td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @working_groups.each do |w_group| %>
				<tr>
					<td><strong><%= w_group.title %></strong></td>
					<td>&nbsp;</td>
					<td>
						<%= link_to image_tag("space.gif", :title => t(:group_discussions, :scope => :chat), :class => "icon-discussion"), discussion_tutor_group_path(w_group) %>
						<%= link_to image_tag("space.gif", :title => t(:delete, :scope => :group), :class => "icon delete"), tutor_group_path(w_group), :method => :delete if w_group.deletable? %>
					</td>
				</tr>
				<% w_group.students.each do |student| %>
			  	<tr>
						<td><%= image_tag avatar_url(student) %></td>
						<td><%= student.profile.fullname %></td>
				    <td>
	          	<%= link_to image_tag("space.gif", :title => t(:shuffle_student, :scope => :tutor), :class => "icon-shuffle"), shuffle_tutor_group_student_path(w_group, student) %>
						</td>
				  </tr>
				<% end %>
			<% end %>
			<tr>
      	<td><%= link_to t(:new_working_group, :scope => :group), new_working_group_tutor_groups_path(:parent => @course_group) %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
	<%= link_to t(:back, :scope => :general), tutor_course_students_path(@course_group.course) %>
</div>
<div id="aside">

</div>

