<div id="main">
	<h1>Course Group <%= @course_group.title %></h1>
	<h2>Deadline: <%= @course_group.deadline.due_date.strftime('%d.%m.%Y - %H:%M') unless @course_group.deadline.nil? %></h2>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td>Avatar</td>
        <td>Name</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @working_groups.each do |w_group| %>
				<tr>
					<td><strong><%= w_group.title %></strong></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<% w_group.students.each do |student| %>
			  	<tr>
						<td><%= image_tag avatar_url(student) %></td>
						<td><%= student.profile.fullname %></td>
				    <td>
	          	<%= link_to image_tag("space.gif", :title => "shuffle Student in another Group", :class => "icon-shuffle"), shuffle_tutor_group_student_path(w_group, student) %>
						</td>
				  </tr>
				<% end %>
			<% end %>
			<tr>
      	<td><%= link_to 'New Working Group', new_working_group_tutor_groups_path(:parent => @course_group) %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
  <h2>Discussions</h2>
	<table class="userlist">
  	<thead>
  		<tr>
				<td>Name</td>
        <td>Number of Posts</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @channels.each do |channel| %>
			  <tr>
          <td><%= link_to "#{channel.name}", tutor_discussion_path(channel) %>
            <%- if channel.closed? %>
              &nbsp;<strong>(closed)</strong>
            <%- end %>
          </td>
			    <td>
            <%= link_to image_tag("space.gif", :title => "Edit", :class => "icon edit"), edit_tutor_group_channel_path(@course_group, channel) %>
            <%= link_to image_tag("space.gif", :title => "Delete", :class => "icon delete"),  tutor_group_channel_path(@course_group, channel),
            :confirm => 'Are you sure?', :method => :delete%>
					</td>
			  </tr>
			<% end %>
			<tr>
      	<td><%= link_to 'New Discussion', new_tutor_group_channel_path(@course_group) %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
	<%= link_to 'Back', tutor_course_students_path(@course_group.course) %>
</div>
<div id="aside">

</div>

