<div id="main">
	<h1>Listing groups</h1>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td>Name</td>
				<td>Course</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @groups.each do |group| %>
			  <tr>
					<td><%= group.title %></td>
					<td><%= group.course.short_title %></td>
			    <td>
						<%= link_to image_tag("space.gif", :alt => "edit Group", :class => "icon useredit"), edit_tutor_group_path(group) %>
          	<%= link_to image_tag("space.gif", :alt => "delete Group", :class => "icon delete"), tutor_group_path(group), :confirm => 'Are you sure, you want to delete this Group?', :method => :delete %>
					</td>
			  </tr>
			<% end %>
			<tr>
      	<td><%= link_to 'New Group', new_tutor_group_path %></td>
        <td></td>
				<td></td>
      </tr>
		</tbody>
	</table>
</div>
<div id="aside">

</div>

