<div id="main">
	<h1><%= t(:listing, :scope => :general) %> <%= t(:groups, :scope => :group) %> <%= t(:for, :scope => :general) %> <%= t(:discussion, :scope => :chat) %></h1>
	<table  class="userlist">
  	<thead>
  		<tr>
				<td><%= t(:name, :scope => :profile) %></td>
				<td><%= t(:course, :scope => :course) %></td>
				<td><%= t(:type, :scope => :general) %></td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
			<% @groups.each do |group| %>
			  <tr>
					<td><%= group.title %></td>
					<td><%= group.course.short_title %></td>
					<td>
						<%= group.parent_id ? t(:working_group, :scope => :group) : t(:course, :scope => :course)+" "+t(:group, :scope => :group) %>
					</td>
			    <td>
						<%= link_to image_tag("space.gif", :title => t(:group, :scope => :group)+ " "+t(:discussions, :scope => :chat), :class => "icon useredit"), discussion_tutor_group_path(group) %>
          	<%= link_to image_tag("space.gif", :title => t(:delete, :scope => :general)+ " "+ t(:group, :scope => :group), :class => "icon delete"), tutor_group_path(group), :confirm => t(:confirm, :scope => :general)+" "+t(:delete, :scope => :general)+" "+t(:this, :scope => :general)+" "+t(:group, :scope => :group)+"?", :method => :delete %>
					</td>
			  </tr>
			<% end %>
		</tbody>
	</table>
</div>
<div id="aside">

</div>

