<div id="main">
	<h1>New Group for Course </h1>
	<%= form_for([@group], :url => tutor_groups_path) do |f| %>
	  <% if @group.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

	      <ul>
	      <% @group.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <p class="input">
	    <%= f.label :title %><br />
	    <%= f.text_field :title %>
	  </p> 
		<p class="select">
	    <%= f.label :course %><br />
	    <%= select_tag :course, options_from_collection_for_select(@tutor.courses, "id", "short_title") %>
	  </p>
		<%= fields_for :deadline do |d| %>
			<p class="input">
		    <%= d.label :due_date, "Deadline" %><br />
		    <%= d.datetime_select :due_date %>
		  </p>
		<% end %>
	  <p class="submit"> 
	    <%= submit_tag "Submit" %>  
	  </p>  
	<% end %>
	<%= link_to 'Back', tutor_groups_path %>
</div>
<div id="aside">

</div>

