<h1><%= t(:editing, :scope => :general) %> <%= t(:note, :scope => :general) %></h1>

<%= render 'form' %>

<%= link_to t(:show, :scope => :general), @note %> |
<%= link_to t(:back, :scope => :general), notes_path %>
