<h1><%= t(:listing, :scope => :general) %> <%= t(:notes, :scope => :note) %></h1>

<table>
  <tr>
    <th><%= t(:text, :scope => :general) %></th>
    <th><%= t(:private, :scope => :general) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notes.each do |note| %>
  <tr>
    <td><%= note.text %></td>
    <td><%= note.private %></td>
    <td><%= link_to t(:show, :scope => :general), note %></td>
    <td><%= link_to t(:edit, :scope => :general), edit_note_path(note) %></td>
    <td><%= link_to t(:destroy, :scope => :general), note, :confirm => t(:confirm_short, :scope => :general), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new, :scope => :general)+" "+t(:note, :scope => :note), new_note_path %>
