<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:text, :scope => :general) %>:</b>
  <%= @note.text %>
</p>

<p>
  <b><%= t(:private, :scope => :general) %>:</b>
  <%= @note.private %>
</p>


<%= link_to t(:edit, :scope => :general), edit_note_path(@note) %> |
<%= link_to t(:back, :scope => :general), notes_path %>
