<%=  f.fields_for :element do |element_field| %>
  <p class="input">   
    <label for="Input">Question Text</label>
    <%= element_field.text_area :txt, :size => "10x2" %>
  </p>
  <p class="input">   
    <label for="Input">Answers</label>
    <%= element_field.text_area :multianswers, :size => "20x4" %>
    <small>*every line is an answer</small>
  </p>
  <p class="radio">
    <%= element_field.radio_button :multi, true, :checked => true %> Multiple Answers
    <%= element_field.radio_button :multi, false %> Single Answer
  </p>
<% end %>