<div id="main">
	<div class="showView" id="contentElements">
		<%= form_for @group_essay_answer, :url => revert_to_student_content_element_group_essay_answer_path(@content, @element, @group_essay_answer) do |f| %>
			<%= f.fields_for :version do |v| %>
				<% @versions.each do |version| %>
					<p>
						<%= v.radio_button "revert_to", version.id %>
						<%= Profile.find(version.whodunnit).login %>
						<%= version.created_at %>
					</p>
					<p>
						<%#= text_area_tag "txt", version.reify.txt, :escape => false if version.object %>
						<%= raw version.reify.txt %>
					</p>
				<% end %>
				<%= v.submit "Revert Version" %>
			<% end %>
		<% end %>
	</div>
</div>
<div id="aside">

</div>
