<div id="main">
	<h1><%= t(:assessment, :scope => :student) %></h1>

	<table  class="userlist">
  	<thead>
  		<tr>
				<td><%= t(:name, :scope => :profile) %></td>
				<% @stitch_modules.each do |stitch_module| %>
        	<td><%= stitch_module.short_title %></td>
				<% end %>
				<td><%= t(:total_assessment, :scope => :student) %></td>
      </tr>
    </thead>
    <tbody>
			<% @students.each do |student| %>
				<tr>
					<td><%= link_to student.profile.fullname, tutor_group_student_path(student.groups.where(:course_id => @course.id).first, student) %></td>
					<% @stitch_modules.each do |stitch_module| %>
						<td><%= show_national_assessment(show_grade(stitch_module, student, current_user.role), @course ) %></td>
					<% end %>	
					<td><%= show_national_assessment(show_grade(@course, student, current_user.role), @course ) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<p><%= link_to t(:grading_system, :scope => :student), find_default_assesment(@course, current_user.role) %> (<%= t(:define_grading_system, :scope => :student) %>)<br />
	<%= link_to t(:back, :scope => :general), overview_tutor_course_path(@course) %></p>
</div>
<div id="aside">

</div>
