<div id="main">
  <%= render 'layouts/breadcrumb' %>

  <p id="notice"><%= notice %></p>
  <h1 id="page_title"><%= @course.title %></h1>
  <p>
    <%=simple_format @course.description %>
  </p>

  <hr>

  <h2>Modules:</h2>
  <div id="module_list_table">
    <table  class="userlist" id="module_list">
      <thead>
        <tr  id="thead">
          <td>Title</td>
        </tr>
      </thead>
      <tbody>
        <% @course.stitch_modules.each do |sm| %>
          <tr id="module_<%= sm.id  %>"> 
            <td><%= link_to sm.title, tutor_stitch_module_path(sm)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%#= render :partial => 'chat/widget' %>
  <!-- we could here just render another chatroom with all@course-1 in another (jquery) tab on the page,
  and in the students view, we ONLY render the all@course chatroom. If paul needs a chatroom for every module,
  we just call this helper again with a different string. no need to know who's in this room and who is not or a rooster,
  everybody with access to that page where this helper is called can chat and retrieve msgs -->
  <%= render_channel("tutors@course-#{@course.id}")  %>
</div>
<div id="aside">

</div>
