<div id="main">
  <h1 id="page_title"><%= @course.title %></h1>
  
  <h2><%= t(:deadlines, :scope => :course) %></h2>
  
    <table  class="userlist" id="module_list">
      <thead>
        <tr id="thead">
          <td><%= t(:deadline, :scope => :course) %> <%= t(:for, :scope => :general) %></td>
					<td><%= t(:duedate, :scope => :course) %></td>
					<td>&nbsp;</td>
        </tr>
					<% @groups.each do |group| %>
	      		<tr> 
	        		<td><strong><%= group.title %></strong></td>
							<td><%= group.deadline.due_date.strftime('%d.%m.%Y - %H:%M') unless group.deadline.nil? %></td>
							<td><%= link_to image_tag("space.gif", :title => t(:edit, :scope => :general)+" "+t(:group, :scope => :group)+" "+t(:deadline, :scope => :course), :class => "icon edit"), edit_tutor_course_deadline_path(@course, group.deadline) if group.deadline && !is_demo_tutor? %></td>
		        </tr>
      </thead>
      <tbody>					
					<% @pages.each do |page| %>
	      		<tr> 
	        		<td><%= link_to page.stitch_unit.title, tutor_stitch_unit_page_path(page.stitch_unit, page) %></td>
							<td><%= show_deadline_page(page, nil, group)  %></td>
							<td><%= link_to image_tag("space.gif", :title => t(:edit, :scope => :general)+" "+t(:page, :scope => :page)+" "+t(:deadline, :scope => :course), :class => "icon edit"), find_page_deadline(@course, group, page) unless is_demo_tutor? %></td>
		        </tr>
					<% end %>
				<% end %>
      </tbody>
    </table>	
	<%= link_to t(:back, :scope => :general), overview_tutor_course_path(@course) %>
</div>
<div id="aside">

</div>