<p class="input">
  <% unless @element.txt == "" %>
    <label for="Input"><%=raw @element.txt.gsub("\n","<br />") %></label>
  <% end %>
	<% if @student %>
		<%=raw show_answer(@element, @student).txt %>
		<p>
			<%= fields_for :group_essay_answer do |answer_field| -%>
				<%= t(:comment, :scope => :tutor) %>: <%= answer_field.text_area :comment, :size => "80x2" %>
				<%= t(:achievement, :scope => :tutor) %>: <%= answer_field.text_field :score %>
			<% end %>
			<%= t(:score, :scope => :tutor) %>: <%= show_score(@element, current_user.role) %>
		</p>
	<% else %>
	  <%= fields_for :question_score do |score_field| -%>
			<%= t(:score, :scope => :tutor) %>: <%= score_field.text_field :value %>
		<% end -%>
	<% end %>
</p>