<table  class="userlist">
  <thead>
    <tr>
      <td><%= t(:short_title, :scope => :general) %></td>
      <td><%= t(:title, :scope => :general) %></td>
      <td><%= t(:language, :scope => :general) %></td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <% courses.each do |course| %>
      <tr>
        <td><%= link_to course.short_title, admin_course_path(course) %></td>
        <td><%= course.title %></td>
        <td><%= course.language %></td>
        <td>
          <% if course.published  %>
						<%= link_to image_tag("space.gif", :title => t(:clone, :scope => :course), :class => "icon duplicate"), clone_admin_course_path(course) %>
					<% else %>
            <%= link_to image_tag("space.gif", :title => t(:edit, :scope => :course), :class => "icon useredit"), edit_admin_course_path(course) %>
            <% if course.deletable? %>
              <%= link_to image_tag("space.gif", :title => t(:delete, :scope => :course), :class => "icon delete"), admin_course_path(course), :confirm => t(:confirm, :scope => :course), :method => :delete %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>