<div id="main">
  <%= render 'layouts/breadcrumb' %>

  <p id="notice"><%= notice %></p>
  <h1 id="page_title"><%= @course.title %></h1>
  <p>
    <%=simple_format @course.description %>
  </p>

  <hr>
  <h2><%= t(:actions, :scope => :general) %>:</h2>
  <% if @course.deprecatable? && !@course.deprecated %>
    <p><%= link_to t(:mark_deprecated, :scope => :course), deprecate_admin_course_path(@course) %></p>
  <% elsif @course.publishable? && !@course.published %>
    <p><%= link_to t(:publish, :scope => :course), edit_admin_course_path(@course) %></p>
    <p><%= link_to t(:create, :scope => :stitch_module), new_admin_course_stitch_module_path(@course)%></p>
  <% elsif @course.editable? %>
    <p><%= link_to t(:create, :scope => :stitch_module), new_admin_course_stitch_module_path(@course)%></p>
  <% end %>



  <h2><%= t(:modules, :scope => :stitch_module) %>:</h2>
  <div id="module_list_table">
    <table  class="userlist" id="module_list">
      <thead>
        <tr  id="thead">
          <td><%= t(:title, :scope => :general) %></td>
          <td><%= t(:complete, :scope => :stitch_module) %></td>
          <td>&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <% @course.stitch_modules.each do |sm| %>
          <tr id="module_<%= sm.id  %>"> 
            <td><%= link_to sm.title, developer_stitch_module_path(sm)%></td>
            <td><%= sm.complete ? t(:yes, :scope => :general) : t(:no, :scope => :general) %></td>
            <td>
              <% unless @course.published  %>
                <%= link_to image_tag("space.gif", :title => t(:edit, :scope => :stitch_module), :class => "icon useredit"), edit_admin_course_stitch_module_path(@course, sm) %>
                <% if sm.deletable? %>
                  <%= link_to image_tag("space.gif", :title => t(:delete, :scope => :stitch_module), :class => "icon delete"), admin_course_stitch_module_path(@course, sm), :confirm => t(:confirm, :scope => :stitch_module), :method => :delete %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= hidden_field_tag "url", admin_course_stitch_modules_path(@course) %>
    <%= hidden_field_tag "modules_order_url", admin_course_stitch_modules_order_path(@course) %>
  </div>
</div>
<div id="aside">

</div>
<script type="text/javascript">
  $(document).ready(function(){
    Stitched.loadCourseView();
  });
</script>